{% extends "formsapp/base.html" %}
{% load static %}

{% block content1 %}
  <div class="h4  w-50 m-4 rounded-5 text-center jumbotron bg-transparent text-warning">
    {% if messages %}
      {% for message in messages %}
        {% if messages.tags %}  {{messages.tags}}" {% endif %} {{message}}
      {% endfor %}            
    {% endif %}
  </div>

  <div id="sign" class="jumbotron p-5 border d-flex align-items-center justify-content-center img-thumbnail mt-0">
      <form action="" method="POST" class=" rounded-3 p-5" novalidate>
        {% csrf_token %}
        <h3 class="text-dark">Sign-Up</h3>
        {% for field in form %}
          <table class="">
            <tr>
              
              <th class="">{{ field.label_tag }}</th>
              <td>{{field}}</td><br>
                
              <span class="text-danger">{{field.errors|striptags}}</span>
            </tr>
          </table>
          {% endfor %}
            <input type="submit" value="Submit" class="btn btn-success mt-3">
            <a href="{% url 'login' %}" class="btn btn-primary mt-3">login</a>
      </form>
  </div>
{% endblock content1 %}


